<%#= will_paginate @documents, :previous_label => '« назад',:next_label => 'вперед »'%>
<% @documents.map do |doc| %>
  <div class="document_row">
    <h3 class="icon_windows_logo_32"><%= link_to h(doc.name), show_document_url(doc.id) -%></h3>
    <h4 class="n"><%= h(doc.description) -%></h4>
    <div class="row_info silver_medium">
      <%= doc.updated_at.to_formatted_s(:long) -%> -
      <%= number_to_human_size(doc.filelists.f_file_size) unless doc.filelists.blank? -%>
    </div>
  </div>
<% end -%>
<% if document_count.eql?(0) %>
  <%= render :partial => 'shared/main/dialog_information', :locals => {:information_text => 'Файлов в этой категории нет'} -%>
<% end %>


