<table width="100%">
  <tr onclick="showticket('<%="ticket_#{ticket.id}"-%>')">
    <td class="ticket_table_subject" height="32px" colspan="2">
      <%= h ticket.subject -%>
    </td>
  </tr>
  <tbody class="ticket_body" id="<%="ticket_#{ticket.id}"-%>" style="display: none;">
  <% ticket_body(ticket.id).map do |tb|%>
    <%= render :partial => 'tickets/ticket_row_td', :locals => {:tb => tb} -%>
  <% end %>
    <tr>
      <td><%= link_to 'отправить', {:action => :ttt}, :popup => ['dialog name','resizable=yes','height=300,width=600'] %> </td>
      <td>закрыть</td>
    </tr>

    <tr id="<%= "ticket_form_#{ticket.id}"-%>">
      <td class="ticket_table_subject" height="32px" colspan="2">
        <fieldset>
          <% remote_form_for :new_message, :url => edit_ticket_url(ticket.id), :html => {:method => :PUT} do |f| %>
            <%= f.error_messages %>

            <%= hidden_field_tag :ticket_id, ticket.id -%>
            <%= label_tag :message, 'Сообщение', :class => "prop_key" -%>
            <%= f.text_area "message_#{ticket.id}", :name => 'new_message[message]', :rows => 5, :class => "prop_value"  -%>
            <br style="clear: left" />
            <br />
            <%= label_tag :message, 'Отправить', :class => "prop_key" -%>
            <%= image_submit_tag('/images/main/icons/32/send24x32.png', :style=>"border: none", :class=>"ml5") %>
          <% end %>
            <% form_for :close_ticket, :url => ticket_url(ticket.id), :html => {:method => :DELETE} do |f| %>
              <%= label_tag :message, 'Закрыть', :class => "prop_key" -%>
              <%= image_submit_tag('/images/main/icons/24/lock.png',
                :style=>"border: none",
                :class=>"ml5",
                :confirm => 'Закрыть тикет? Закрытый тикет означает что вопросов больше нет, спасибо, досвидания'
              ) %>
            <% end %>
        </fieldset>
      </td>
    </tr>
  </tbody>
</table>