<div id="ticket_history" class="ticket_box_in">
<fieldset>
  <div id="opened_ticket" class="big bold">Открытые тикеты</div>
  <div id="opened_ticket_body">
    <% @opened_tickets.map do |ticket| -%>
      <%= render :partial => 'tickets/ticket_row', :locals => {:ticket => ticket} -%>
    <% end %>
  </div>
</fieldset> <%#* end open_ticket -%>
<fieldset>
  <div id="closed_ticket" class="big bold">Закрытые тикеты</div>
  <% cnt = 1 %>
  <% @closed_tickets.map do |ticket| -%>
    <table width="100%">
    <tr onclick="showticket('<%="ticket_#{ticket.id}"-%>')">
      <td class="ticket_table_subject" height="32px" colspan="2">
        <%= h ticket.subject -%>
      </td>
    </tr>
    <tbody id="<%="ticket_#{ticket.id}"-%>" style="display: none;">
    <tr height="24px">
      <td width="80px" valign="top">
        <%= ticket.s_type -%><br />
        <span class="n silver_medium normal"><%= ticket.created_at.to_formatted_s(:short) -%></span>
      </td>
      <td valign="top"><%= 'ticket.message' -%></td>
    </tr>
    <% ticket_body(ticket.id).map do |tb|%>
      <tr height="24px" <%= 'class="ticket_table_tr_q"' if tb.atype == 1 -%>">
        <td width="80px" valign="top">
          <%= tb.s_type -%><br />
          <span class="n silver_medium normal"><%= tb.created_at.to_formatted_s(:short) -%></span>
        </td>
        <td valign="top">
          <%= h 'tb.message' -%>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>
</fieldset> <%#* end open_ticket -%>
</div>