<%= hidden_field_tag 'task','post' -%>
<div class="box tabular settings">
<fieldset><legend></legend>
  <%= errors_for(form.object).html_safe -%>
  <dl>
    <dt><%= label_tag :name, 'Название' %></dt>
    <dd><%= form.text_field :name, :class=>'edit' %></dd>

    <dt><%= label_tag :position, 'Позиция' %></dt>
    <dd><%= form.select(:position, ss, {:include_blank => t(:global_default_select_empty)}, {:size => 10, :class => 'select'}) %></dd>

    <dt><%= label_tag :content, 'Описание' %></dt>
    <dd><%= form.text_area(:content, :class => "mceEditor") %></dd>
  </dl>
</fieldset>
</div>

<%= render :partial => 'shared/admin/tinymce_init' %>

