<html>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251"></meta>
  <body>
    <%= "billing" %>
    <%= @result %>
    <div><h1>message</h1>
      <h4><%= @message %></h4>
      <h4><%= @prefix %></h4>
      <h4><%= @code %></h4>
    </div>
  </body>
</html>