<%= include_tiny_mce_if_needed %>
<%= hidden_field_tag 'task','post' -%>
<div class="box tabular settings">
<fieldset><legend></legend>
  <%= errors_for(form.object) %>
  <dl>
    <dt><%= label_tag :name, t(:label_category_name) %></dt>
    <dd><%= form.text_field :name, :class => 'edit' %></dd>
    <dt><%= label_tag :section_id, t(:label_category_section) %></dt>
    <dd><%= form.select(:section_id, sections_for_select, {:include_blank => false}, {:size => 10, :class => 'select'}) -%></dd>
    <dt><%= label_tag :description, t(:label_description) %></dt>
    <dd><%= form.text_area(:description, @text_area_default_size_for_description.update(:class => "mceEditor") ) %></dd>
  </dl>
</fieldset>
</div>