<%= hidden_field_tag 'task','post' -%>
<%= errors_for form.object %>
<div class="row-fluid">
	<div class="span3">
		<div class="control-group">
			<%= label_tag :name, t(:label_category_name), :class => 'control-label' %>
			<div class="controls">
				<%= form.text_field :name, :class=>'input-xlarge' %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :description, t(:label_description), :class => 'control-label' %>
			<div class="controls">
				<%= form.text_area :description, :rows => 5, :class => "mceEditor input-xlarge" %>
			</div>
		</div>		
	</div>
	<div class="span3">
		<div class="control-group">
			<%= label_tag :section_id, t(:label_category_section), :class => 'control-label' %>
			<div class="controls">
				<%=  form.select('section_id', sections_for_select, {:include_blank => false}, {:size => 10, :class => 'input-xlarge'}) %>
			</div>
		</div>
	</div>
</div>
<%= render :partial => 'shared/admin/tinymce_init' %>