<table class="grid" cellspacing="0" cellpadding="0" border="0">
<thead>
  <th>№</th>
  <th><%= check_box_tag("groups", false, false, :onclick=>"setCheckBoxes(this,'ids[]')") %></th>
  <th><%= sortable('Название','name') %></th>
  <th><%= sortable('Описание','description') %></th>
  <th><%= sortable('Раздел','section_name') %></th>
</thead>
<tbody>
<% @categories.map do |row| %>
  <tr class="<%= tr_cycle_wrong row %>"<%= 'id="after_edit"' if flash[:edited].to_s == row.id.to_s  -%> >
    <th width="2%"><%= row.id -%></th>
    <th width="2%"><%= check_box_tag('ids[]',row.id) %></th>
    <td><%= link_to(row.name.html_safe, edit_admin_category_url(row.id)) -%></td>
    <td><%= row.description.html_safe %></td>
    <td><%= row.section_name.html_safe %></td>
  </tr>
<% end %>
</tbody>
</table>