<%= hidden_field_tag 'task','post' %>
<%= hidden_field_tag :file_id %>
<%= hidden_field_tag :tab, @active_tab_name %>
<%= form.hidden_field(:category_id, :id => "category_id", :value => @document.category_id) -%>
<%= form.hidden_field(:section_id, :id => "section_id", :value => @document.section_id) -%>

<%#= observe_field(:file_id,
   :frequency => 0.5,
   :url => { :controller => 'documents', :action => 'file_add', :document_id => @document },
   :with => "id")
%>

<div class="box tabular settings">
  <fieldset class="left" style="width: 70%"><legend></legend>
    <%= errors_for(form.object) -%>
    <%= errors_for(@logo) if @logo && @logo.errors -%>
    <%= render_tabs :tabs => document_tabs, :form_object => form %>
  </fieldset>
  <fieldset><legend></legend>
    <dt><%= label_tag :access_level, t(:label_document_access_for) %></dt>
    <dd><%= form.select(:access_level, rules_for_select, {:include_blank => false}) %></dd>
    <dt><%= label_tag :published, t(:label_document_publication) %></dt>
    <dd><%= form.select(:published, options_yesno_tag(@document.published) ) %></dd>
    <dt><%= label_tag :approved, t(:label_document_approved) %></dt>
    <dd><%= form.select(:approved, options_yesno_tag(@document.approved) ) %></dd>
    <dt><%= label_tag 'file[f]', t(:label_add_load_new_file) %></dt>
    <dd><%= file_field_tag 'file[f]' %></dd>
    <dt><%= label_tag 'fromarchive', t(:label_add_file_from_archive) %></dt>
    <dd>
        <%= link_to t(:button_select),
      
        dialog_url('filelist',:except_document_files => @document.id),
        :class => 'example5'
        %>

    </dd>
    <dt><%= label_tag 'logo_id', t(:label_add_load_new_logo) %></dt>
    <dd><%= file_field_tag 'logo[logo]' %></dd>

    <dt><%= label_tag :menu_id, t(:label_document_link_menu) %></dt>
    <dd><%= form.select(:menu_id, menus_for_select, {:include_blank => false, :prompt => 'Не выбранно'}) %></dd>

  </fieldset>
  <div class="clearboth"></div>
</div>

<%= javascript_include_tag 'jquery.template.min.js' %>
<%= javascript_include_tag 'jquery.template.min.js' %>


<script type="text/javascript">
  $(".example5").colorbox({innerWidth:640, innerHeight:480, initialWidth:640, initialHeight:480});

  function NotifyFileAdded(obj) {
    $("#documentfilelist_template").tmpl(obj).fadeIn().appendTo("#documentfilelist");
  };

  function NotifyFileDeleted(file_id) {
    $("#remove_documentfilelist_template").tmpl({id:file_id}).appendTo("#documentfilelist");
    $('#file_id_'+file_id).fadeOut('slow');
  };
</script>

<script id="documentfilelist_template" type="text/x-jquery-tmpl">
  <tr id="file_id_${id}" class="bkw">
    <td>${f_file_name}</td>
    <td>${f_file_size}</td>
    <td>${f_content_type}</td>
    <td><a class="toolbar_button16 icon_trash_16" href="#" onclick="NotifyFileDeleted(${id}); return false;"></a></td>
  </tr>
  <input type="hidden" name="added_documentfilelist_ids[]" value="${id}" />
</script>

<script id="remove_documentfilelist_template" type="text/x-jquery-tmpl">
  <input type="hidden" name="deleted_documentfilelist_ids[]" value="${id}" />
</script>