<%= hidden_field_tag 'task','post' %>
<%= form.hidden_field(:category_id, :id => "category_id", :value => @document.category_id) -%>
<%= form.hidden_field(:section_id, :id => "section_id", :value => @document.section_id) -%>
<div class="row-fluid">
  <div class="span9">
    <%= render_tabs :tabs => document_tabs.select {|tab| tab[:name] == 'general' || !@document.new_record? } , :form_object => form %>
  </div>
  <div class="span3">
    <div class="control-group">
      <%= label_tag :access_level, t(:label_document_access_for), :class => 'control-label' %>
      <%= form.select(:access_level, rules_for_select, {:include_blank => false}, :class=>'input-medium') %>
      <hr>
      <%= label_tag :published, t(:label_document_publication), :class => 'control-label' %>
      <%= form.select(:published, options_yesno_tag(@document.published), {}, :class=>'input-medium') %>
      <br />
      <%= label_tag :approved, t(:label_document_approved), :class => 'control-label' %>
      <%= form.select(:approved, options_yesno_tag(@document.approved), {}, :class=>'input-medium') %>
      <hr>
      <%= label_tag 'menu_id', t(:label_document_link_menu), :class => 'control-label' %>
      <%= form.select(:menu_id, menus_for_select, {:include_blank => false, :prompt => 'Не выбранно'}, :class=>'input-medium') %>
      <br />
    </div>
    <hr>
    <% unless @document.new_record? %>
      <div class="control-group">
        <%= label_tag 'logo-upload', t(:text_logo), :class => 'control-label' %>
        <%= link_to t(:label_upload), '#', :id => "logo-upload", :class => "btn input-medium", :'data-loading-text' => t(:state_uploading) %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'jquery.template.min.js' %>

<script type="text/javascript">
  function NotifyFileAdded(obj) {
    $("#documentfilelist_template").tmpl(obj).fadeIn().appendTo("#documentfilelist");
  };

  function NotifyFileDeleted(file_id) {
    $("#remove_documentfilelist_template").tmpl({id:file_id}).appendTo("#documentfilelist");
    $('#file_id_'+file_id).fadeOut('slow');
  };
</script>

<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
<%= javascript_include_tag 'plupload/plupload.full.js' %>     

<script type="text/javascript">
  $(document).ready(function() {
    $('#document_logo_id').change(function(e) {
      $('#document_logo').attr('src',$("#logo" + $(this).val()).attr('src'))
    });
  });

  $(function() {
    authtoken = $("input[name=authenticity_token]").val();
    var uploader = new plupload.Uploader({
      runtimes : 'gears,html5,flash,silverlight',
      browse_button : 'logo-upload',
      max_file_size : '10mb', // TODO: size from model
      url : '<%= admin_document_logo_path(@document) unless @document.new_record? %>',
      flash_swf_url : '<%= javascript_path '/plupload/plupload.flash.swf' %>',
      silverlight_xap_url : '<%= javascript_path '/plupload/plupload.silverlight.xap' %>',
      filters : [{title : "Image files", extensions : "jpg,gif,png"}],
      multi_selection: false,
      multipart_params : {
        'format': 'json',
        authenticity_token: authtoken
      },
      file_data_name: 'document[logo]'
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
      $('#logo-upload').button('loading')
      up.refresh(); // Reposition Flash/Silverlight
      up.start();
    });

    uploader.bind('Error', function(up, err) {
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FileUploaded', function(up, file, info) {
      var response = JSON.parse(info['response']);
      var url = JSON.parse(response['url']);
      $('#document_logo').attr("src", url);
      $('#document_logo_id').attr('value', response['id']);
    });

    uploader.bind('UploadComplete', function(up, files){
      $('#logo-upload').button('reset');
    })
  });
</script>

<script id="documentfilelist_template" type="text/x-jquery-tmpl">
  <tr id="file_id_${id}" class="bkw">
    <td>${f_file_name}</td>
    <td>${f_file_size}</td>
    <td>${f_content_type}</td>
    <td><a class="toolbar_button16 icon_trash_16" href="#" onclick="NotifyFileDeleted(${id}); return false;"></a></td>
  </tr>
  <input type="hidden" name="added_documentfilelist_ids[]" value="${id}" />
</script>

<script id="remove_documentfilelist_template" type="text/x-jquery-tmpl">
  <input type="hidden" name="deleted_documentfilelist_ids[]" value="${id}" />
</script>