<%= hidden_field_tag 'task','post' %>
<%= hidden_field_tag :file_id %>
<%= hidden_field_tag :tab, @active_tab_name %>
<%= form.hidden_field(:category_id, :id => "category_id", :value => @document.category_id) -%>
<%= form.hidden_field(:section_id, :id => "section_id", :value => @document.section_id) -%>
<%= errors_for(form.object) -%>
<%= errors_for(@logo) if @logo && @logo.errors -%>

<div class="row-fluid">
  <div class="span9">
    <%= render_tabs :tabs => document_tabs, :form_object => form %>
  </div>
  <div class="span3">
    <div class="control-group">
      <%= label_tag :access_level, t(:label_document_access_for), :class => 'control-label' %>
      <%= form.select(:access_level, rules_for_select, {:include_blank => false}, :class=>'input-medium') %>
      <hr>
      <%= label_tag :published, t(:label_document_publication), :class => 'control-label' %>
      <%= form.select(:published, options_yesno_tag(@document.published), {}, :class=>'input-medium') %>
      <br />
      <%= label_tag :approved, t(:label_document_approved), :class => 'control-label' %>
      <%= form.select(:approved, options_yesno_tag(@document.approved), {}, :class=>'input-medium') %>
      <hr>
      <%= label_tag 'menu_id', t(:label_document_link_menu), :class => 'control-label' %>
      <%= form.select(:menu_id, menus_for_select, {:include_blank => false, :prompt => 'Не выбранно'}, :class=>'input-medium') %>
      <br />
    </div>
    <hr>
    <div class="control-group">
      <%= label_tag 'logo-upload', t(:text_logo), :class => 'control-label' %>
      <a class="btn input-medium" href="#" id="logo-upload"><i class="icon-upload"></i> <%= t(:label_upload) %></a>
    </div>
    <div class="control-group">
      <a class="popup btn input-medium" href="<%= dialog_url('manager_logo', :id => @document.id, :logo_id => (@document.logo ? @document.logo.id : 0)) %>" id="logo-upload"><i class="icon-adjust"></i> <%= t(:button_manager) %></a>
    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery.template.min.js' %>

<script type="text/javascript">
  function NotifyFileAdded(obj) {
    $("#documentfilelist_template").tmpl(obj).fadeIn().appendTo("#documentfilelist");
  };

  function NotifyFileDeleted(file_id) {
    $("#remove_documentfilelist_template").tmpl({id:file_id}).appendTo("#documentfilelist");
    $('#file_id_'+file_id).fadeOut('slow');
  };
</script>

<script id="documentfilelist_template" type="text/x-jquery-tmpl">
  <tr id="file_id_${id}" class="bkw">
    <td>${f_file_name}</td>
    <td>${f_file_size}</td>
    <td>${f_content_type}</td>
    <td><a class="toolbar_button16 icon_trash_16" href="#" onclick="NotifyFileDeleted(${id}); return false;"></a></td>
  </tr>
  <input type="hidden" name="added_documentfilelist_ids[]" value="${id}" />
</script>

<script id="remove_documentfilelist_template" type="text/x-jquery-tmpl">
  <input type="hidden" name="deleted_documentfilelist_ids[]" value="${id}" />
</script>