<dt><%= label_tag 'screenshot_id', t(:label_load_screenshot) %></dt>
<dd><%= file_field_tag 'screenshot[screenshot]' %>
  <%= link_to_function 'Загрузить',"submitbutton('post')" %>
</dd>
<br />

<table width="100%" class="screenshots_table">
<% @document.screenshots.map.in_groups_of(3) do |img| %>
  <tr>
    <% 3.times do |x| %>
      <td width="33%" valign="top" align="center">
        <div class="screenshot_container">
          <%= image_tag img[x].screenshot.url, :width => '128px' if img[x] %> <br />
        </div>
        <div class="screenshot_info">
          <%  if img[x] %>
            <%= img[x].screenshot_file_name  %><br />
            <%= number_to_human_size(img[x].screenshot_file_size) if img[x] %><br />
            <%= link_to 'Удалить', document_screenshot_url(@document,img[x]), {:method => :delete} %>
          <% end %>
        </div>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

