<a name="screenshots"></a>
<%= hidden_field_tag 'imgDelIds' %>
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="#" id="screenshot_select_id"><i class="icon-folder-open"></i> <%= t(:label_select) %></a>
    <a class="btn" href="#" id="screenshot_upload_id"><i class="icon-upload"></i> <%= t(:label_upload) %></a>
  </div>
  <div class="btn-group">
    <a class="btn" href="#" id="screenshot_delete_id"><i class="icon-trash"></i> <%= t(:button_delete) %></a>
    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to t(:button_delete_all), '#', :id => 'screenshot_delete_all_id', :confirm => 'Are you sure?' %>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn" href="#" id="selected_id"><i class="icon-trash"></i> <%= t(:label_selected) %><span id="selected_count"></span></a>
    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to t(:button_deselect), '#', :id => 'deselect_id' %>
      <li><%= link_to t(:button_inverse_select), '#', :id => 'inverse_select_id' %>  
    </ul>
  </div>
</div>
<hr>
<ul class="thumbnails fixed">
<% @document.screenshots.map do |img| %>
  <li>
    <div class="thumbnail" id="<%= img.id %>">
      <a href="#" class="btn"><i class="icon-trash"></i></a>
      <div class="img">
        <%= image_tag img.screenshot.url %>
      </div>
      <div class="overflow-hidden">
        <div class="caption">
          <h5><%= img.screenshot_file_name  %></h5>
        </div>
      </div>
    </div>
  </li>
<% end if @document.screenshots.present? %>
</ul>
<script type="text/javascript">
  $(function() {
    authtoken = $("input[name=authenticity_token]").val();
    var uploader = new plupload.Uploader({
      runtimes : 'gears,html5,flash,silverlight',
      browse_button : 'screenshot_select_id',
      max_file_size : '10mb', // TODO: size from model
      url : '<%= screenshot_admin_document_url unless @document.new_record? %>',
      flash_swf_url : '<%= javascript_path '/plupload/plupload.flash.swf' %>',
      silverlight_xap_url : '<%= javascript_path '/plupload/plupload.silverlight.xap' %>',
      filters : [{title : "Image files", extensions : "jpg,gif,png"}],
      multipart_params : {
        'format': 'json',
        authenticity_token: authtoken
      },
      file_data_name: 'document[screenshot]'
    });

    $('#screenshot_upload_id').click(function(e) {
      $('#progress_overlay').css('display','block')
      uploader.start();
      e.preventDefault();
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
      $.each(files, function(i, file) {
        $("#screenshot_add_template").tmpl(file).fadeIn().appendTo(".thumbnails");
      });
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('UploadProgress', function(up, file) {
      $('#progress_overlay #bar').attr('style','width: '+up.total*10+'%;')
    });

    uploader.bind('Error', function(up, err) {
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FileUploaded', function(up, file, info) {
      var response = JSON.parse(info['response']);
      var url = JSON.parse(response['url']);
      $('#'+file.id+' img').attr('src',url);
      $('#'+file.id+' a').attr('onclick','');
      $('#'+file.id).attr('id',response['id']);
    });
  });


  function update_select_count() {
    var arr = $("#imgDelIds").val().split(',')
    if ($.isEmptyObject($("#imgDelIds").val()) == false)
      $('#selected_count').text(' ('+arr.length+')');
    else
      $('#selected_count').empty();
  }

  function btn_select(obj) {
    var val = $(obj).parent().attr('id');
    $("#imgDelIds").toggleToArray(val);
    $('#'+val+' img').toggleClass("image-overlay");
    update_select_count();
  }

  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();

    //  Button: Remove image
    $('.thumbnail a.btn').live('click',function(e) {
      btn_select(this);
      e.preventDefault();
    });

    // Button: Deselect images
    $('#deselect_id').click(function(e) {      
      $("#imgDelIds").val('');
      $.each($('.thumbnail img'), function(i, item) {
        $(item).removeClass();
      });
      update_select_count();
      e.preventDefault();
    })

    // Button: inverse selected images
    $('#inverse_select_id').click(function(e){
      $.each($('.thumbnail a.btn'), function(i, item) {btn_select(item)});
      update_select_count();
      e.preventDefault();
    })

    //  Button: Remove all images
    $('#screenshot_delete_all_id').click(function(){
      var a = []
      $.each($('.thumbnail'), function(i, thumbnail) {
        a.push($(thumbnail).attr('id'));
      });
      $("#imgDelIds").val(a.join(','));
      $('#screenshot_delete_id').click();
    });

    //  Button: Remove images
    $('#screenshot_delete_id').click(function(){
      $.ajax({
        url: '<%= screenshot_admin_document_url unless @document.new_record? %>',
        global: false,
        type: "DELETE",
        data: {'ids' : $('#imgDelIds').val()},
        dataType: "json",
        error: function(msg){
            alert('msg');
        },
        complete: function(msg){
          $("#imgDelIds").val('');
        },
        success: function(data, textStatus, jqXHR){
          $.each(data['ids'], function(index, value) { 
            $('#'+value).parent().fadeOut();
          });
        }
     });
    }); // end Button: Remove images
  }) // end document ready
</script>


<%= javascript_include_tag 'jquery.template.min.js' %>

<script id="screenshot_add_template" type="text/x-jquery-tmpl">
  <li>
    <div class="thumbnail" id="${id}">
      <a href="#" class="btn" onclick="$(this).parent().parent().remove();false;"><i class="icon-trash"></i></a>
      <div class="img">
        <img src="/images/admin/image.png">
      </div>
      <div class="overflow-hidden">
        <div class="caption">
          <h5>${name}</h5>
        </div>
      </div>
    </div>
  </li>
</script>