<a class="btn input-medium" href="#" id="screenshot-upload"><i class="icon-upload"></i> <%= t(:label_upload) %></a>
<hr>
<div class="row-fluid ">
  <div class="span3">
    <table class="table table-striped table-bordered table-condensed">
      <tr colspan=2>
        <td>
          <%= image_tag (@document.logo.nil? or @document.new_record?) ? 'main/empty_logo.png ' : @document.logo.logo.url, :size => '128x128', :id => 'document_logo' %>
        </td>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          2
        </td>
      </tr>
    </table>
    
  </div>
  <div class="span3">Level 2</div>
  <div class="span3">Level 2</div>
</div>

<hr>
<div class="row-fluid ">
  <div class="span3">
    <%= image_tag (@document.logo.nil? or @document.new_record?) ? 'main/empty_logo.png ' : @document.logo.logo.url, :size => '128x128', :id => 'document_logo' %>
    <div class="form-actions">
      asd</div>
  </div>
  <div class="span3">Level 2</div>
  <div class="span3">Level 2</div>
</div>



<script type="text/javascript">
  $(function() {
    authtoken = $("input[name=authenticity_token]").val();
    var uploader = new plupload.Uploader({
      runtimes : 'gears,html5,flash,silverlight',
      browse_button : 'screenshot-upload',
      max_file_size : '10mb', // TODO: size from model
      url : '<%= uploadscreenshot_admin_document_url %>',
      flash_swf_url : '<%= javascript_path '/plupload/plupload.flash.swf' %>',
      silverlight_xap_url : '<%= javascript_path '/plupload/plupload.silverlight.xap' %>',
      filters : [{title : "Image files", extensions : "jpg,gif,png"}],
      multipart_params : {
        'format': 'json',
        authenticity_token: authtoken
      },
      file_data_name: 'document[screenshot]'
    });

    $('#upload_screenshots_id').click(function(e) {
      uploader.start();
      e.preventDefault();
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {


      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('Error', function(up, err) {
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FileUploaded', function(up, file, info) {
      var response = JSON.parse(info['response']);
      var url = JSON.parse(response['url']);
      $('#document_logo').attr("src", url);
      $('#document_logo_id').attr('value', response['id']);

    });
  });
  </script>
