<div class="btn-group">
  <a class="btn input-medium" href="#" id="screenshot-select-id"><i class="icon-folder-open"></i> <%= t(:label_select) %></a>
  <a class="btn input-medium" href="#" id="screenshot-upload-id"><i class="icon-upload"></i> <%= t(:label_upload) %></a>
</div>
<hr>
<%= hidden_field_tag 'test', 0 %>
<a id="aaa1">sdf</a>

<ul class="thumbnails">
<% @document.screenshots.map do |img| %>
  <li class="span">
    <div class="thumbnail">
      <a href="#" class="btn" id="scr_<%= img.id %>"><i class="icon-trash"></i></a>
      <%= image_tag img.screenshot.url %>
      <div class="caption">
        <h5><%= img.screenshot_file_name  %></h5>
      </div>
    </div>
  </li>
<% end if @document.screenshots.present? %>
</ul>


<script type="text/javascript">
  $(function() {
    authtoken = $("input[name=authenticity_token]").val();
    var uploader = new plupload.Uploader({
      runtimes : 'gears,html5,flash,silverlight',
      browse_button : 'screenshot-select-id',
      max_file_size : '10mb', // TODO: size from model
      url : '<%= uploadscreenshot_admin_document_url unless @document.new_record? %>',
      flash_swf_url : '<%= javascript_path '/plupload/plupload.flash.swf' %>',
      silverlight_xap_url : '<%= javascript_path '/plupload/plupload.silverlight.xap' %>',
      filters : [{title : "Image files", extensions : "jpg,gif,png"}],
      multipart_params : {
        'format': 'json',
        authenticity_token: authtoken
      },
      file_data_name: 'document[screenshot]'
    });

    $('#screenshot-upload-id').click(function(e) {
      uploader.start();
      e.preventDefault();
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
      $.each(files, function(i, file) {
        $("#screenshot_add_template").tmpl(file).fadeIn().appendTo(".thumbnails");
      });
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('UploadProgress', function(up, file) {
      var size = plupload.formatSize(file.size)
      var loaded = plupload.formatSize(file.loaded)
      if ($('#pre_' + file.id + ' span').length == 0) {
        $('#pre_' + file.id).prepend('<span class="label label-info">0%</span>');
      }
      $('#pre_' + file.id + ' span').html(file.percent + '%');
    });
    

    uploader.bind('Error', function(up, err) {
      up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FileUploaded', function(up, file, info) {
      var response = JSON.parse(info['response']);
      var url = JSON.parse(response['url']);
      $('#pre_'+file.id+' a.btn').after('<img id="scr_'+response['id']+'" class="overloadimg" src='+url+'>');
      $('#scr_'+response['id']).animate({opacity: 1.0}, 500);
      $('#pre_' + file.id + ' span').remove();
    });
  });
</script>

<script type="text/javascript">
  $('.thumbnail a.btn').toggle(function(){
    a = $('#test').val();
    
    $('#test').val().push(111));
     $(this).next().addClass('image-overlay');
   }, function(){
    alert($('#test').val());
     $(this).next().removeClass('image-overlay');
   });
  e.preventDefault();  
</script>

<%= javascript_include_tag 'jquery.template.min.js' %>

<script id="screenshot_add_template" type="text/x-jquery-tmpl">
  <li class="span">
    <div class="thumbnail" id="pre_${id}">
      <a href="#" class="btn"><i class="icon-trash"></i></a>
      <pre></pre>
      <div class="caption">
        <h5>${name}</h5>
      </div>
    </div>
  </li>
</script>