<% icon_class = "icon_folder_48" unless icon_class  %>
<% except = [] if except.blank? %>
<% content_for :toolbar do %>
<%= roundbox2 do %>
    <div class="row-fluid">
      <div class="span4">
        <%= header_caption :caption => "#{controller_caption}: [#{caption_at_action}]", :icon_class => icon_class -%>
      </div><!--/span4-->
      <div class="pull-right">
        <div class="btn-group toolbar_caption">
          <%= btn(:icon_class=>'icon-ok-circle', :class => 'btn-toolbar', :caption =>'Применить',
            :onclick=>"submitbutton('post')") unless except.include?('post')%>
          <%= btn(:icon_class=>'icon-ok-sign', :class => 'btn-toolbar', :caption =>'Сохранить', :onclick=>"submitbutton('save')") unless except.include?('save') %>
          <%= btn(:icon_class=>'icon-home', :class => 'btn-toolbar', :caption =>'Выйти', :url => defined?(url_for_exit).nil? ? url_for(:action => 'index') : url_for_exit ) unless except.include?('exit') %>
          <%= yield :toolbar_additional %>
        </div>
      </div><!--/span4-->      
    </div><!--/row-fluid-->
<% end %>
<hr>
<% end %>









  
  
