<%= will_paginate paginated_rows, :previous_label => '« назад',:next_label => 'вперед »', :renderer => PaginationListLinkRenderer if paginated_rows.present? %>

<% icon_class = "icon_folder_48" unless icon_class  %>
<% content_for :toolbar do %>
<%= roundbox2 do %>
    <div class="row-fluid">
      <div class="span4">
        <%= header_caption :caption => "#{controller_caption}", :icon_class => icon_class -%>
      </div><!--/span4-->
      <div class="pull-right">
        <div class="btn-group toolbar_caption">
          <%= btn(:icon_class=>'icon-plus-sign', :class => 'btn-toolbar', :caption => t(:button_add), :url => url_for(:action => 'new')) %>
          <%= btn(:icon_class=>'icon-minus-sign', :class => 'btn-toolbar', :caption => t(:button_delete), :onclick=>"submitbutton('delete')") %>
          <%= yield :toolbar_additional %>
        </div>
      </div><!--/span4-->      
    </div><!--/row-fluid-->
<% end %>
<hr>
<% end %>


  