<div class="well confirmation">
  <h2><%= t(:label_confirmation)%></h2>
  <p><%=  t(:label_destroy_confirmation)%></p>
  <%= form_for 'tasks', :url => {:action => 'destroy'}, :html => {:method => :delete } do -%>
	<label class="checkbox">
		<%= check_box 'confirm', 'confirmed' %>
		<%= t(:global_yes) %>
	</label>
	<hr>
	<div class="row-fluid">
		<div class="pull-right">
    		<%= submit_tag t(:button_delete)+'?', :class => "btn btn-warning" %>
		</div>
	</div>
  <% end %>
</div>
