<div class="breadcrumbs">
  <span class="separator"><%= link_to 'Главная', root_url %></span>
  <span class="active"><%= 'Продукты' %></span>
</div>
<div class="content_box">
  <% @products.map do |row| %>
  <div>
    <%= image_tag row.logo_url, :width => 128 , :align => :left, :class => 'img1' %>
    <div class="content_header"><h1><%= row.name.html_safe %></h1></div>
    <div class="content_description"><%= row.short_description.html_safe %></div>
  </div>
  <div class="clearboth">&nbsp;</div>
  <div class="right">
    <%= link_to 'Узнать больше', product_url(row), :class=>'goodbutton goob_cl_orchid goob_sz_normal' %>
  </div>
  <div class="clearboth">&nbsp;</div>
  <div class="row_separator">&nbsp</div>
  <br  />
  <% end %>
</div> <!-- END product_box -->
<div class="content_box_bottom">
  <%= will_paginate @products, :prev_label => '&nbsp;',:next_label => '&nbsp;' if @products.present? %>
</div>
