<%= hidden_field_tag 'task','post' -%>
<%= errors_for(form.object).html_safe %>
<div class="row-fluid">
  <div class="span3">
    <div class="control-group">
      <%= label_tag :title, t(:label_menu_item_title), :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :title, :class=>'edit', :class=>'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :alias, t(:label_menu_item_alias), :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :alias, :class=>'edit', :class=>'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :url, t(:label_menu_item_url), :class => 'control-label' %>
      <div class="controls">
        <%= form.text_field :url, :class=>'edit', :class=>'input-xlarge' %>
      </div>
    </div>
   
    <div class="control-group">
      <%= label_tag :note, t(:label_menu_item_note), :class => 'control-label' %>
      <div class="controls">
        <%= form.text_area(:note, :rows => 5, :class => 'mceEditor input-xlarge') %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="control-group">
      <%= label_tag :target, t(:label_menu_item_target), :class => 'control-label' %>
      <div class="controls">
        <%= form.select :target, targets_for_select(@menu_item.target), {}, :class=>'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :access_level, t(:label_menu_item_access_level), :class => 'control-label' %>
      <div class="controls">
        <%= form.select :access_level, rules_for_select, {:include_blank => false}, :class=>'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :published, t(:label_menu_item_publication), :class => 'control-label' %>
      <div class="controls">
        <%= form.select :published, options_yesno_tag(@menu_item.published), {}, :class=>'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :alias, 'Создать ссылку как', :class => 'control-label' %>
      <div class="controls">
        <%= link_to 'Статический контент', dialog_url('static_content'), :id => 'pop_dialog_content', :class=>'popup btn btn-primary' %>
      </div>
    </div>
  </div>  
</div>

<%= render :partial => 'shared/admin/tinymce_init' %>

