<table class="grid" cellspacing="0" cellpadding="0" border="0">
<thead>
  <th width="2%">№</th>
  <th width="2%"><%= check_box_tag("groups", false, false, :onclick=>"setCheckBoxes(this,'ids[]')") %></th>
  <th><%= sortable('Название','title') %></th>
  <th><%= sortable('Алиас','alias') %></th>
  <th><%= sortable('Ссылка','url') %></th>
  <th><%= sortable('Доступ','access_level') %></th>
  <th><%= sortable('Открывать','target') %></th>
  <th width="130px"><%= sortable("Порядок",'sort_no') %></th>
  <th width="2%"><%= sortable('Опубликовано','published') %></th>
</thead>
<% @menu_items.map do |row| %>
  <tr class="<%= cycle('odd','even') %>"<%= 'id="after_edit"' if flash[:edited].to_s == row.id.to_s %> >
    <th><%= row.id -%></th>
    <th><%= check_box_tag('ids[]',row.id) -%></th>
    <td><%= link_to(h(row.title), edit_menu_item_url(row.menu_id,row.id)) %></td>
    <td><%= h(row.alias) %></td>
    <td><%= h(row.url) %></td>
    <td><%= h(row.rule.name) %></td>
    <td><%= h(row.target_name) %></td>
    <th><%= text_field_tag 'orders[]', row.sort_no, :class => 'edit_mini' %></th>
    <th><%= check_box_tag("published_#{row.id}",row.published,row.published,:disabled => true) -%></th>
  </tr>
<% end %>
</tbody>
</table>