<%= hidden_field_tag 'task','post' -%>
<%= errors_for(form.object).html_safe %>
<div class="row-fluid">
	<div class="span3">
		<div class="control-group">
			<%= label_tag :title, t(:label_menu_title), :class => 'control-label' %>
			<div class="controls">
		    	<%= form.text_field :title, :class=>'input-xlarge' %>
		    </div>
		</div>
	</div>
	<div class="span3">
		<div class="control-group">
		  	<%= label_tag :access_level, t(:label_menu_access_level), :class => 'control-label' %>
		  	<div class="controls">
		  		<%= form.select(:access_level, rules_for_select, {:include_blank => false}) %>
		  	</div>
		</div>
		<div class="control-group">  	
		  	<%= label_tag :published, t(:label_menu_publication), :class => 'control-label' %>
		  	<div class="controls">
		  		<%= form.select( :published, options_yesno_tag(@menu.published) ) %>
		  	</div>
		</div>
	</div>
</div>
	